#root,
.appRoot {
  height: 100%;
}

.uitk-dark .appRoot {
  color: var(--uitk-text-primary-foreground);
}

header {
  text-align: center;
}

svg {
  stroke: var(--color-icon, rgba(0, 0, 0, 0.9));
}

img {
  height: auto;
  width: 2rem;
}
